src/java/META-INF/iexssoap.wsdl_1.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions xmlns:tns="http://iups.zte.com/account/iexs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://iups.zte.com/account/iexs">
<types>
<xsd:schema>
<xsd:import namespace="http://iups.zte.com/account/iexs" schemaLocation="http://192.168.174.211:8895/iexssoap?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="vCancelAnyPayAgent">
<part name="req" element="tns:vCancelAnyPayAgentReq"></part>
</message>
<message name="vCancelAnyPayAgentResponse">
<part name="rsp" element="tns:vCancelAnyPayAgentRsp"></part>
</message>
<message name="vCancelTransaction">
<part name="req" element="tns:vCancelTransactionReq"></part>
</message>
<message name="vCancelTransactionResponse">
<part name="rsp" element="tns:vCancelTransactionRsp"></part>
</message>
<message name="vCreateAnyPayAgent">
<part name="req" element="tns:vCreateAnyPayAgentReq"></part>
</message>
<message name="vCreateAnyPayAgentResponse">
<part name="rsp" element="tns:vCreateAnyPayAgentRsp"></part>
</message>
<message name="vModiAnyPayInfo">
<part name="req" element="tns:vModiAnyPayInfoReq"></part>
</message>
<message name="vModiAnyPayInfoResponse">
<part name="rsp" element="tns:vModiAnyPayInfoRsp"></part>
</message>
<message name="vRechargeAgent">
<part name="req" element="tns:vRechargeAgentReq"></part>
</message>
<message name="vRechargeAgentResponse">
<part name="rsp" element="tns:vRechargeAgentRsp"></part>
</message>
<message name="vCancelAnyPayBlc">
<part name="req" element="tns:vCancelAnyPayBlcReq"></part>
</message>
<message name="vCancelAnyPayBlcResponse">
<part name="rsp" element="tns:vCancelAnyPayBlcRsp"></part>
</message>
<message name="vQueryAnyPayInfo">
<part name="req" element="tns:vQueryAnyPayInfoReq"></part>
</message>
<message name="vQueryAnyPayInfoResponse">
<part name="rsp" element="tns:vQueryAnyPayInfoRsp"></part>
</message>
<portType name="IEXSSoap">
<operation name="vCancelAnyPayAgent">
<input message="tns:vCancelAnyPayAgent"></input>
<output message="tns:vCancelAnyPayAgentResponse"></output>
</operation>
<operation name="vCancelTransaction">
<input message="tns:vCancelTransaction"></input>
<output message="tns:vCancelTransactionResponse"></output>
</operation>
<operation name="vCreateAnyPayAgent">
<input message="tns:vCreateAnyPayAgent"></input>
<output message="tns:vCreateAnyPayAgentResponse"></output>
</operation>
<operation name="vModiAnyPayInfo">
<input message="tns:vModiAnyPayInfo"></input>
<output message="tns:vModiAnyPayInfoResponse"></output>
</operation>
<operation name="vRechargeAgent">
<input message="tns:vRechargeAgent"></input>
<output message="tns:vRechargeAgentResponse"></output>
</operation>
<operation name="vCancelAnyPayBlc">
<input message="tns:vCancelAnyPayBlc"></input>
<output message="tns:vCancelAnyPayBlcResponse"></output>
</operation>
<operation name="vQueryAnyPayInfo">
<input message="tns:vQueryAnyPayInfo"></input>
<output message="tns:vQueryAnyPayInfoResponse"></output>
</operation>
</portType>
</definitions>