src/java/META-INF/iexssoap.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iexs.account.iups.zte.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://iexs.account.iups.zte.com/" name="IEXS" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/encoding/client">
<import namespace="http://iups.zte.com/account/iexs" location="iexssoap.wsdl_1.xml"></import>
<binding xmlns:ns1="http://iups.zte.com/account/iexs" name="IEXSSoapBinding" type="ns1:IEXSSoap">
    <wsp:PolicyReference URI="#IEXSSoapBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="vCancelAnyPayAgent">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vCancelAnyPayAgent"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vCancelTransaction">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vCancelTransaction"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vCreateAnyPayAgent">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vCreateAnyPayAgent"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vModiAnyPayInfo">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vModiAnyPayInfo"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vRechargeAgent">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vRechargeAgent"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vCancelAnyPayBlc">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vCancelAnyPayBlc"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vQueryAnyPayInfo">
<soap:operation soapAction="http://iups.zte.com/account/iexs/vQueryAnyPayInfo"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="IEXS">
<port name="IEXSSoap" binding="tns:IEXSSoapBinding">
<soap:address location="http://192.168.174.211:8895/iexssoap"></soap:address>
</port>
</service>
    <wsp:Policy wsu:Id="IEXSSoapBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All></wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
